@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@900&display=swap');



:root {
    --font1: Verdana, 'Geneva', Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Lobster', 'cursive';     
}


*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    min-width: 100%;
    background-color: darkgray;
    font-family: var(--font1);

}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 3em;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
    
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family:
    
}

section > p {
    font-family: var(--font3);
    font-size: 2.5emvw;
    padding-bottom: 2em;
    
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(54, 50, 50);
    color: white;
    background-attachment: fixed;
    
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.219);
    text-shadow: 1px, 1px, 0px black;
    
}

section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url('imagens/background002.jpg');
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}



